// Imports
@import "style";

body{
    font-size: 1.5rem;
}
.content{
    border: 1px solid red;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content h7 {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: bold;
    color: #474747;
    text-indent: 4px;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#content h1 {font-size: 2.8rem;}
#content h2 {font-size: 2.2rem;}
#content h3 {font-size: 1.8rem;}
#content h4 {font-size: 1.4rem;}
#content h5 {font-size: 1.2rem;}
#content h6 {font-size: 1.0rem;}
#content h7 {font-size: .8rem;}

#content h1:before, #content h2:before, #content h3:before, #content h4:before, #content h5:before, #content h6:before, #content h7:before {
    padding-right: 0.3em;
    margin-left: -2em;
    color: #9ddcff;
}
#content h1:before {content: "/";}
#content h2:before {content: "//";}
#content h3:before {content: "///";}
#content h4:before {content: "////";}
#content h5:before {content: "/////";}
#content h6:before {content: "//////";}
#content h7:before {content: "///////";}