<!--
nav-bg:
light
dark
primary
success
info
warning
danger
secondary


nav-bar:
light
dark

-->
<nav class="navbar navbar-expand-sm bg-{{ page.nav-bg }} navbar-{{ page.nav-bar }} fixed-top">
  	<ul class="navbar-nav">
		{% for nav in site.data.navs %}

			{% if nav.name == page.title %}
				<li class="nav-item active">
					<a class="nav-link" href="{{ nav.url }}">{{ nav.name }}</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ nav.url }}">{{ nav.name }}</a>
				</li>
			{% endif %}
		{% endfor %}
  	</ul>
</nav>

  <div class="container inner">
    <h1>{{ site.jum_title }}</h1>
    <p>{{ site.jum_content }}</p>
  </div>
