<!-- list-style
action		激活列表项
success 	激活列表项
secondary	次要列表项
info      信息列表项
warning		警告列表项
danger  	危险列表项
primary		主要列表项
dark  		深灰色列表项
light 		浅色列表项
-->
<style type="text/css">
	#main-content h1:before, #main-content h2:before, #main-content h3:before, #main-content h4:before, #main-content h5:before, #main-content h6:before {
		content: "";
		margin-left: 0px;
	}
</style>
<div class="list-group">
	{% assign count=1 %}
	{% for post in paginator.posts %}
		<div class="list-group-item list-group-item-{{ page.list-style }}">
			<span class="small font-italic" style="padding-right: 8px;" >{{ post.date | date_to_string }}</span>
			<a href="{{ site.baseurl }}{{ post.url }}" >{{ post.title }}</a>
		</div>

		<div class="card">
		  	<div class="card-body">
		    	<p class="card-text ">{{ post.excerpt | remove: '<!-- more -->' }}</p>
				{% for category in post.categories %}
					<a href="#" class="card-link">{{ category }}</a>
				{% endfor %}
		  	</div>
		</div>
		<div style="height: 2rem;background-color:#fff">
			&nbsp;
		</div>
		
	{% endfor %}
</div>

