---
layout: default
title: 文章列表
---


{% for post in paginator.posts %}
    <div class="card bg-{{ page.card-bg }} text-{{ page.card-text }}" style="margin-top: 35px;">
        <div class="card-body">
            <h3>
                <small><i>{{ post.date | date_to_string }}</i></small>&nbsp;&nbsp;
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h3>
            <hr>

            <div class="card-text" id="main-content">
                {% for category in post.categories %}
                    <a class="label label-default card-link" href="##">{{ category }}</a>
                {% endfor %}
                <br>
                <br>
                {{ post.content }}
            </div>


        </div>
    </div>
{% endfor %}
<div>
    
{% if paginator.total_pages > 1 %}
  {% include pagination.html %}
{%  endif %}